In [ ]:
#1 dataset
import pandas as pd

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic.csv'

dataset = pd.read_csv(url)

print(dataset)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
#2 test_dataset
import pandas as pd

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic_test.csv'

test_dataset = pd.read_csv(url)

print(test_dataset)

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]

In [ ]:
#3 train_data
import pandas as pd

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic.csv'

train_data = pd.read_csv(url)

df = pd.DataFrame(train_data, columns=['Age', 'Fare'])

data_train = df.dropna()

pos_missing_train = df[~df.index.isin(data_train.index)]

print(data_train)

print(pos_missing_train)

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
885  39.0  29.1250
886  27.0  13.0000
887  19.0  30.0000
889  26.0  30.0000
890  32.0   7.7500

[714 rows x 2 columns]
     Age     Fare
5    NaN   8.4583
17   NaN  13.0000
19   NaN   7.2250
26   NaN   7.2250
28   NaN   7.8792
..   ...      ...
859  NaN   7.2292
863  NaN  69.5500
868  NaN   9.5000
878  NaN   7.8958
888  NaN  23.4500

[177 rows x 2 columns]

In [ ]:
#4 test_data

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic_test.csv'

test_data = pd.read_csv(url)

df = pd.DataFrame(test_data, columns=['Age', 'Fare'])

data_test = df.dropna()

pos_missing_test = df[~df.index.isin(data_test.index)]

print(data_test)

print(pos_missing_test)

      Age      Fare
0    34.5    7.8292
1    47.0    7.0000
2    62.0    9.6875
3    27.0    8.6625
4    22.0   12.2875
..    ...       ...
409   3.0   13.7750
411  37.0   90.0000
412  28.0    7.7750
414  39.0  108.9000
415  38.5    7.2500

[331 rows x 2 columns]
     Age     Fare
10   NaN   7.8958
22   NaN  31.6833
29   NaN  21.6792
33   NaN  23.4500
36   NaN   8.0500
..   ...      ...
408  NaN   7.7208
410  NaN   7.7500
413  NaN   8.0500
416  NaN   8.0500
417  NaN  22.3583

[87 rows x 2 columns]

In [ ]:
#5 train_label

import pandas as pd

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic.csv'

train_label = pd.read_csv(url)

df = pd.DataFrame(train_label, columns=['Age', 'Fare','Survived'])

data_train = df.dropna()

pos_missing_train = df[~df.index.isin(data_train.index)]

print(data_train['Survived'])

      Age     Fare  Survived
0    22.0   7.2500         0
1    38.0  71.2833         1
2    26.0   7.9250         1
3    35.0  53.1000         1
4    35.0   8.0500         0
..    ...      ...       ...
885  39.0  29.1250         0
886  27.0  13.0000         0
887  19.0  30.0000         1
889  26.0  30.0000         1
890  32.0   7.7500         0

[714 rows x 3 columns]

In [ ]:
#6 test_label

import pandas as pd

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic_testlabel.csv'

test_label = pd.read_csv(url)

df_test_label = pd.DataFrame(test_label)

# print(df_test_label)

##########################

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic_test.csv'

test_data = pd.read_csv(url)

df_test_data = pd.DataFrame(test_data, columns=['Age', 'Fare'])

data_test = df_test_data.dropna()

pos_missing_test = df_test_data[~df_test_data.index.isin(data_test.index)]

# print(pos_missing_test)

##########################

df_all = df_test_label[~df_test_label.index.isin(pos_missing_test.index)]

print(df_all)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
409         1301         1
411         1303         1
412         1304         1
414         1306         1
415         1307         0

[331 rows x 2 columns]

In [ ]:
#7 train data

import pandas as pd

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic.csv'

train_data = pd.read_csv(url)

df = pd.DataFrame(train_data, columns=['Age', 'Fare'])

data_train = df.dropna()

####################################################

# normalize
for column in data_train.columns:
  data_train[column] = (data_train[column] - data_train[column].min()) / (data_train[column].max() - data_train[column].min())

min_age = data_train['Age'].min()
max_age = data_train['Age'].max()
min_fare = data_train['Fare'].min()
max_fare = data_train['Fare'].max()

print(data_train)
print('min age: ', min_age, '\tmax age: ', max_age)
print('min fare: ', min_fare, '\tmax fare: ', max_fare)

          Age      Fare
0    0.271174  0.014151
1    0.472229  0.139136
2    0.321438  0.015469
3    0.434531  0.103644
4    0.434531  0.015713
..        ...       ...
885  0.484795  0.056848
886  0.334004  0.025374
887  0.233476  0.058556
889  0.321438  0.058556
890  0.396833  0.015127

[714 rows x 2 columns]
min age:  0.0 	max age:  1.0
min fare:  0.0 	max fare:  1.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#8 test_data

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic_test.csv'

test_data = pd.read_csv(url)

df = pd.DataFrame(test_data, columns=['Age', 'Fare'])

data_test = df.dropna()


# normalize
for column in data_test.columns:
  data_test[column] = (data_test[column] - data_test[column].min()) / (data_test[column].max() - data_test[column].min())


min_age = data_train['Age'].min()

max_age = data_train['Age'].max()

min_fare = data_train['Fare'].min()

max_fare = data_train['Fare'].max()


print(data_test)

print('min age: ', min_age, '\tmax age: ', max_age)

print('min fare: ', min_fare, '\tmax fare: ', max_fare)

          Age      Fare
0    0.452723  0.015282
1    0.617566  0.013663
2    0.815377  0.018909
3    0.353818  0.016908
4    0.287881  0.023984
..        ...       ...
409  0.037320  0.026887
411  0.485692  0.175668
412  0.367005  0.015176
414  0.512066  0.212559
415  0.505473  0.014151

[331 rows x 2 columns]
min age:  0.0 	max age:  1.0
min fare:  0.0 	max fare:  1.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#9&10 class_result

from sklearn.neighbors import KNeighborsClassifier
import pandas as pd


################################################################################
# Train Data

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic.csv'

train_data = pd.read_csv(url)

df = pd.DataFrame(train_data, columns=['Age', 'Fare'])

data_train = df.dropna()

# normalize
for column in data_train.columns:
  data_train[column] = (data_train[column] - data_train[column].min()) / (data_train[column].max() - data_train[column].min())

# print(data_train)


################################################################################
# Train label

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic.csv'

train_label = pd.read_csv(url)

df = pd.DataFrame(train_label, columns=['Age', 'Fare','Survived'])

label_train = df.dropna()

pos_missing_train = df[~df.index.isin(label_train.index)]

label_train = label_train['Survived']

# print(train_label)


################################################################################
# data test

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic_test.csv'

test_data = pd.read_csv(url)

df = pd.DataFrame(test_data, columns=['Age', 'Fare'])

data_test = df.dropna()

pos_missing_test = df[~df.index.isin(data_test.index)]


# normalize
for column in data_test.columns:
  data_test[column] = (data_test[column] - data_test[column].min()) / (data_test[column].max() - data_test[column].min())


################################################################################
# label test

url = 'https://raw.githubusercontent.com/tutdeputraw/data-set-for-data-mining/main/titanic_testlabel.csv'

test_label = pd.read_csv(url)

df = pd.DataFrame(test_label)

testing_label = df[~df.index.isin(pos_missing_test.index)]

################################################################################
#KNN

for x in range (10):
  kNN = KNeighborsClassifier(n_neighbors = x + 1, weights = 'distance')

  kNN.fit(data_train, label_train)

  class_result = kNN.predict(data_test)

  precision_ratio=kNN.score(data_test, testing_label['Survived'])

  error_ratio = 1 - precision_ratio

  print('index ', x+1, '\tPrecision ration: ', precision_ratio, '\tError ratio: ', error_ratio)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

index  1 	Precision ration:  0.5589123867069486 	Error ratio:  0.44108761329305135
index  2 	Precision ration:  0.5649546827794562 	Error ratio:  0.43504531722054385
index  3 	Precision ration:  0.56797583081571 	Error ratio:  0.43202416918429
index  4 	Precision ration:  0.5498489425981873 	Error ratio:  0.4501510574018127
index  5 	Precision ration:  0.56797583081571 	Error ratio:  0.43202416918429
index  6 	Precision ration:  0.56797583081571 	Error ratio:  0.43202416918429
index  7 	Precision ration:  0.6132930513595166 	Error ratio:  0.3867069486404834
index  8 	Precision ration:  0.5861027190332326 	Error ratio:  0.41389728096676737
index  9 	Precision ration:  0.6012084592145015 	Error ratio:  0.3987915407854985
index  10 	Precision ration:  0.5861027190332326 	Error ratio:  0.41389728096676737